.grid-root {
    margin-top: 10px;
    width: 100%
}

.grid-paper {
    width: 100%;
    margin-bottom: 10px;
}
.grid-table {
    min-width: 750px
}


.grid-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 20px;
    width: 1px;
}

.MuiTableRow-root{
    height: 40px;
}